<!--The original page-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Our Class Webpage</title>

</head>
<style>
    body{
        background-color: azure;
    }

    th {
        text-align: left;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<body>
    <!--this is how you comment in HMTL-->
    <h1>Did you find all your tag pairs?</h1>
    <h2>How long did it take us?</h2>
    <h3>There were 20 something pairs in total</h3>
    <h6>This is my last heading text. Let's go into more fun stuff</h6>
    <br/>

    <div>
        <p>Here's what we ate in the potluck yesterday</p>
        <ul>
            <li>Lasagna</li>
            <li>Duck Donuts</li>
            <li>Keylime pie</li>
            <li>Chips</li>
            <li>Dunkin Donuts</li>
            <li>Drinks</li>
        </ul>
    </div>

    <hr/>

    <img src="https://assets.bonappetit.com/photos/57d96dd4bf7e91497a10d945/master/w_1200,c_limit/picnic-provence-646.jpg">
    <br/>
    <br/>

    <a href="https://www.geniuskitchen.com/ideas/summer-potluck-recipes-6357">Here are some ideas for <b>summer potluck</b> parties</a>
    <br/>

    <form action="#" method="post">
        Name: <input type="text" name="name"><br/>
        Food I brought: <textarea rows="4" cols="50" name="food"></textarea>
        <br/>
        <input type="submit" value="Submit">
        <button type="button">Cancel</button>
    </form>
    <br/>

    <table style="width:100%" >
        <tr>
            <th>Staff</th>
            <th>Their favorites</th>
        </tr>
        <tr>
            <td>Jennifer</td>
            <td>Green tea ice cream</td>
        </tr>
        <tr>
            <td>Sherry</td>
            <td>Chai tea bubble tea</td>
        </tr>
        <tr>
            <td>AJ</td>
            <td>Olivia macarons</td>
        </tr>
    </table>

</body>
</html>